netrwSettings.vim
netrw.vim
netrwFileHandlers.vim
tar.vim
zip.vim
filetype.vim
gzip.vim
netrwPlugin.vim
forth.vim
spec-template
vi_help.txt
Changelog.rpm
gvim64.png
gvim48.png
gvim32.png
gvim16.png
vimrc
gvim.desktop
vim-7.2-extra.tar.gz
vim-7.2-lang.tar.gz
vim-7.2.tar.bz2
